/* PageStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

.page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--nav-height) + 50px) 0px 90px 0px;
    align-items: center;
  }
  
  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: "Hanken Grotesk";
    font-weight: 500;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    font-family: "Hanken Grotesk";
    font-weight: 400;
  }

  .buttons {
    display: flex;
    gap: 16px;
  }
  
  button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    border-radius: 40px;
    transition: background-color 0.3s ease;
  }

  .primary-btn {
    background-color: #3676D6;
    color: white;
  }

  .secondary-btn {
    background-color: white;
    color: #3676D6;
  }
  
  .primary-btn:hover {
    background-color: #275598;
    color: white;
  }

  .secondary-btn:hover {
    background-color: #275598;
    color: white;
  }
  
  .maquinados-bg {
    background-image: url('../assets/fondo-maquinados.png'); /* Reemplazar con la ruta de la imagen */
  }
  
  .fundicion-bg {
    background-image: url('../assets/fondo-fundicion.jpg'); /* Reemplazar con la ruta de la imagen */
  }
  
  .osg-royco-bg {
    position: absolute;
    transform: rotate(30deg);
    width: 800px;
  }
  
  .plasticos-ingenieria-bg {
    background-image: url('../assets/fondo-plasticos.jpeg'); /* Reemplazar con la ruta de la imagen */
  }
  
  .aceros-bg {
    background-image: url('../assets/fondo-aceros.png'); /* Reemplazar con la ruta de la imagen */
  }
  