header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  padding: 0px 32px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
  will-change: transform; /* Helps performance */
}

header.top {
  background-color: transparent; /* Change to transparent at the top */
}

.logo {
  margin: 0;
}

.logo a {
  display: flex;
  align-items: center;
  width: 45px;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.sections {
  list-style-type: none;
  display: flex;
}

.sections button {
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  transition: background 0.2s ease-in;
}

.sections button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.actions {
  list-style-type: none;
}